In [0]:
import pandas as pd
import numpy as np
from math import *

In [2]:
!unzip /content/pima-indians-diabetes-database.zip

Archive:  /content/pima-indians-diabetes-database.zip
  inflating: diabetes.csv

In [0]:
df = pd.read_csv('diabetes.csv')
x = df.to_numpy()  #(768,9)

In [7]:
df.head(10)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1
5            5      116             74  ...                     0.201   30        0
6            3       78             50  ...                     0.248   26        1
7           10      115              0  ...                     0.134   29        0
8            2      197             70  ...                     0.158   53        1
9            8      125             96  ...                     0.232   54        1

[10 rows x 9 columns]

In [37]:
data = x[0:760]  # last 8 examples for test
test = x[760:768]
data.shape,test.shape

((760, 9), (8, 9))

In [0]:
data_0 = []   #class 0 data
data_1 = []   #class 1 data
for i in range(760):
  if(data[i,8] == 0.0):
    data_0.append(data[i][0:8])
  elif(data[i,8] == 1.0):
    data_1.append(data[i][0:8])

In [10]:
data_0 = np.array(data_0)
data_1 = np.array(data_1)
data_0.shape,data_1.shape

((494, 8), (266, 8))

In [0]:
mean_0 = []              # mean of features belonging to class 0
variance_0 = []          # variance of features belonging to class 0
mean_1 = []              # mean of features belonging to class 1
variance_1 = []          # variance of features belonging to class 1

for i in range(8):
  mean_0.append(np.mean(data_0[:,i]))          
  variance_0.append(np.var(data_0[:,i]))
  mean_1.append(np.mean(data_1[:,i]))
  variance_1.append(np.var(data_1[:,i]))

In [0]:
mean = [mean_0,mean_1]                    #concatinating means
variance = [variance_0,variance_1]

In [0]:
prior = [data_0.shape[0]/760, data_1.shape[0]/ 760]   # prior probability

In [14]:
print(mean)
print(variance)
print(prior)

[[3.279352226720648, 110.07287449392713, 68.18623481781377, 19.589068825910932, 69.00404858299595, 30.31356275303644, 0.43094736842105263, 31.168016194331983], [4.864661654135339, 141.20676691729324, 70.85338345864662, 22.214285714285715, 101.09022556390977, 35.12819548872181, 0.5518120300751879, 37.00751879699248]]
[[9.015079742333098, 687.1161467980135, 329.123211329476, 221.06797767542497, 9810.036420855939, 59.46850026225638, 0.089711900063925, 135.1114466718025], [13.929051953191248, 1019.9910820283793, 463.1551953191249, 311.60445757250267, 19230.721182655885, 52.55826516479167, 0.1389329421109164, 120.24806376844366]]
[0.65, 0.35]

In [0]:
#gaussian distribution
def normpdf(x, mean, var):
    denom = (2*math.pi*var)**.5
    num = np.exp(-((x)-(mean))**2/(2*var))
    return num/denom

 
 
 P( y | x ) =  P( x | y ) * P(y)   / P(X)

In [0]:
#P(y | x) Posterior
def posterior(mean,var,X):
  posterior = [1,1]
  for i in range(0,2):
    for j in range(0,8):
      posterior[i] = posterior[i] * normpdf(X[j],mean[i][j],var[i][j])
  return posterior

In [0]:
total_prob = 0    #P(X)
PXY = posterior(mean, variance,test[5][0:8])   #prediction on 765 data 
PYX = [1,1]
for i in range(0, 2):
        total_prob = total_prob + (PXY[i] * prior[i])     #P(X)
for i in range(0, 2):
        PYX[i] = (PXY[i] * prior[i])/total_prob

In [48]:
print("Prediction : " + str(np.argmax(PYX)))
print("Actual : "+ str(test[5,8]))

Prediction : 0
Actual : 0.0

In [49]:
pwd

'/content'